<!-- QUIZ SUMMARY : START -->
<div class="row">
    <div class="col col col-lg-3">
        <!-- TABLE ANSWER : START -->
        <app-table-anwer></app-table-anwer>
        <!-- TABLE ANSWER : END -->
    </div>
    <div class="col col col-lg-9">
        <!-- LIST QUESTIONS : START -->
        <app-list-questions inputQuestions="{{questions}}"></app-list-questions>
        <!-- LIST QUESTIONS : END -->
    </div>
    <!-- MODAL RESULT : START -->
    <app-result></app-result>
    <!-- MODAL RESULT : END -->
</div>
<!-- QUIZ SUMMARY : END -->